@font-face {
    font-family: 'karmaFuture';
    src: url('../fonts/karmaFuture.ttf');
}

:root {
    --color_Slate: #26282A;
    --color_OffSlate: #191A1B;
    --color_OffWhite: #E9E9EA;
    --color_TechGreen: #65E52C;
    --color_OnTechGreen: #70FF31;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--color_OffWhite);
}

body {
    background-color: var(--color_Slate);
    font-family: 'Inconsolata', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'karmaFuture';
    font-size: x-large;
    letter-spacing: 0.05rem;
}

a {
    text-decoration: none;
}

#main_top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color_OffSlate);
}

.btn {
    transition: all 0.3s ease 0s;
    background-color: var(--color_TechGreen);
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--color_OnTechGreen);
}

.nav_menu_horizontal {
    text-transform: uppercase;
}

.nav_menu_horizontal a {
    padding: 0 2rem;
    transition: all 0.3s ease 0s;
}

.nav_menu_horizontal a:hover {
    color: var(--color_TechGreen)
}

.dropdown_wrapper {
    position: relative;
}

/* Show dropdown content on hover */
.dropdown_wrapper:hover .dropdown_content {
    transform: translateY(0);
    opacity: 1;
    height: auto;
}

.dropdown_btn {
    padding: 0.5rem 1rem;
}

.dropdown_btn img {
    vertical-align: middle;
}

.dropdown_btn span {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color_Slate);
    vertical-align: middle;
}

.dropdown_content {
    transition: all 0.3s ease 0s;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-1rem);
    /* properties above are for the dropdown down transition */
    width: 100%;
    background-color: var(--color_OffWhite);
    position: absolute;
    padding: 0.5rem
}

.dropdown_content ul {
    list-style: none;
}

.dropdown_content ul li {
    padding: 0.5rem 0;
    transition: all 0.3s ease 0s;
    margin: 0.2rem 0;
}

.dropdown_content ul li:hover {
    background-color: grey;
}

.dropdown_content ul li a {
    padding: 0 0.5rem;
}

.dropdown_content img {
    vertical-align: middle;
}

.dropdown_content span {
    color: var(--color_Slate);
    vertical-align: middle;
}

.full_inline {
    display: flex;
    justify-content: space-between;
}

.title_wrapper {
    text-align: center;
    padding: 2rem;
}

.spacer {
    padding: 3rem 0;
}

.center_h {
    display: flex;
    justify-content: center;
}

.play_btn {
    height: 3rem;
    width: 15rem;
    color: var(--color_Slate);
    font-weight: bold;
    text-transform: uppercase;
}

.table_wrapper {
    padding: 0 1rem;
}

.table_wrapper table {
    width: 100%;
    border-collapse: collapse;
}

.table_wrapper table thead {
    border-bottom: 1px solid var(--color_OffWhite);
}

.table_wrapper table th,
td {
    padding: 1rem 0.5rem;
}

.table_wrapper table tr:nth-child(even) {
    background-color: var(--color_OffSlate);
}

#menu_top_players_table th:nth-child(1),
td:nth-child(1) {
    text-align: left;
}


#menu_top_players_table th:nth-child(2),
td:nth-child(2) {
    text-align: center;
}

#menu_top_players_table th:nth-child(3),
td:nth-child(3) {
    text-align: right;
}