<!doctype html>
<html lang="en">
<head>
    {% block title %}
    <title>TicTacToe Super</title>
    {% endblock %}

    <!-- link -->
    <link rel="icon" type="image/x-icon" sizes="any" href="../static/logos/flavicon-32.ico">
    <link rel="icon" type="image/svg+xml" href="../static/logos/icon.svg">
    <link rel="apple-touch-icon" href="../static/logos/apple-touch-icon.png">
    {% block stylesheet %}
    <link rel="stylesheet" href="css/styles.css?v=1.0">
    {% endblock %}

    <!-- meta -->
    <meta charset="utf-8">
    {% block meta_name %}
    <meta name="author" content="Davi Sampaio">
    <meta name="application-name" content="TicTacToe Super">
    <meta name="description" content="A TicTacToe game with many interesting features">
    <meta name="keywords" content="game, games, tictactoe">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: ADD MORE OG TAGS -->
    {% block meta_property_og %}
    <meta property="og:title" content="A Basic HTML5 Template">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The revolution of TicTacToe game">
    {% endblock %}

    <!-- scripts -->
    <!-- TODO: ADD "NOSCRIPT" -->
    {% block script %}
    <script src="../static/javascript/scripts.js" async></script>
    {% endblock %}

    <!-- other tags -->
</head>
<body>
    {% block body %}
    <!-- TODO: ADD BODY CONTENT -->
    {% endblock %}
</body>
<footer>
    {% block footer %}
    <!-- TODO: ADD FOOTER CONTENT -->
    {% endblock %}
</footer>
</html>