<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <title>TicTacToe: {% block title required %}{% endblock %}</title>

    <!-- link -->
    <link rel="icon" type="image/svg+xml" href="../static/logos/icon.svg">
    <link rel="icon" type="image/x-icon" sizes="any" href="../static/logos/flavicon.ico">
    <link rel="apple-touch-icon" href="../static/logos/apple-touch-icon.png">

    <link rel="stylesheet" href="{% block stylesheet_href %}../static/css/styles.css{% endblock %}">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap">

    <!-- meta -->
    <meta charset="utf-8">

    <meta name="author" content="{% block meta_author %}Davi Sampaio{% endblock %}">
    <meta name="application-name" content="Super TicTacToe {% block meta_application_name %}{% endblock %}">
    <meta name="description"
        content="{% block meta_description %}A TicTacToe game with many interesting features{% endblock %}">
    <meta name="keywords" content="game, games, tictactoe, python, flask, {% block meta_keywords %}{% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Super TicTacToe {% block meta_og_title %}{% endblock %}">
    <meta property="og:description"
        content="{% block meta_og_description %}A TicTacToe game with many interesting features{% endblock %}">
    <meta property="og:type" content="{% block meta_og_type %}website{% endblock %}">


    <!-- scripts -->
    <!-- TODO: ADD "NOSCRIPT" -->
    <script src="{% block script_src %}../static/javascript/scripts.js{% endblock %}" async></script>

    <!-- other tags -->
    {% endblock %}
</head>

<body>
    <section aria-label="Top main header section">
        <!-- main header section -->
        <header id="main_top_header">
            <a href="/"><img src="../static/logos/icon.svg" alt="logo" style="filter: invert(1)"></a>
            <nav class="nav_menu_horizontal" aria-label="Top navigation menu">
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
            <!-- dropdown button ready to be added when accounts and users are added -->
            <!-- <div class="dropdown_wrapper">
                <button class="btn dropdown_btn" type="button">
                    <img src="../static/images/user-icon.svg" alt="user icon">
                    <span>My account</span>
                </button>
                <div class="dropdown_content">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="../static/images/settings-icon.svg" alt="settings icon">
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../static/images/logout-icon.svg" alt="logout icon">
                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </header>
    </section>
    <hr color="#ffffffe6">
    {% block body %}
    <!-- Body content here -->
    <h1>THIS PAGE IS NOT IMPLEMENTED YET</h1>
    {% endblock %}
    <hr color="#ffffffe6">
</body>
<footer class="bottom_fixed">
    <section aria-label="Main footer section">
        <div class="nav_wrapper flex_center spacer_small">
            <nav aria-label="Info navigation">
                <h1>Info</h1>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </nav>
            <nav aria-label="Legal navigation">
                <h1>Legal</h1>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Cookies Policy</a></li>
                </ul>
            </nav>
        </div>
        <div class="socials flex_center spacer_small">
            <ul>
                <h1>Social</h1>
                <li>
                    <a href="#">
                        <img src="../static/images/Twitter-icon.svg" alt="Twitter icon">
                        <span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/images/facebook-icon.svg" alt="Facebook icon">
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/images/youtube-icon.svg" alt="Youtube icon">
                        <span>Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../static/images/instagram-icon.svg" alt="Instagram icon">
                        <span>Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright spacer_small">
            <p>© 2022 Davi Sampaio. All Rights Reserved</p>
        </div>
    </section>
</footer>

</html>