{% extends "base.html" %}
<!-- TODO: MAKE BUTTONS FUNCTIONALS -->

<head>
    {% block title %}Home Page{% endblock %}
    {% block meta_application_name %}Home Page{% endblock %}
    {% block meta_description %}The Home Page of the Super TicTacToe game{% endblock %}
    {% block meta_keywords %}homepage, login, register, play{% endblock %}
</head>

<body>
    {% block body %}
    <section>
        <!-- main header section -->
        <header id="main_top_header">
            <a href="#"><img src="../static/logos/icon.svg" alt="logo" style="filter: invert(1)"></a>
            <nav class="nav_menu_horizontal">
                <a href="#">About</a>
                <a href="#">Contact</a>
            </nav>
            <!-- dropdown button ready to be added when accounts and users are added -->
            <!-- <div class="dropdown_wrapper">
                <button class="btn dropdown_btn" type="button">
                    <img src="../static/images/user-icon.svg" alt="user icon">
                    <span>My account</span>
                </button>
                <div class="dropdown_content">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="../static/images/settings-icon.svg" alt="settings icon">
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="../static/images/logout-icon.svg" alt="logout icon">
                                <span>Log Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </header>
    </section>
    <hr color="#ffffffe6">
    <div class="full_inline">
        <!-- play and fame hall section side by side -->
        <section style="width: 65%">
            <!-- play section -->
            <!-- TODO: ADD MORE ELEMENTS ON THE PLAY SECTION -->
            <div class="title_wrapper">
                <h1>Wellcome</h1>
            </div>
            <div class="spacer center_h">
                <button class="btn play_btn" type='button'>Play now</button>
            </div>
        </section>
        <hr color="#ffffffe6">
        <section style="width: 35%">
            <!-- fame hall section -->
            <div class="title_wrapper">
                <h1>Top global players</h1>
            </div>
            <div class="table_wrapper">
                <!-- ADD JINJA AND PLAYERS WHEN LOGIN IS POSSIBLE -->
                <!-- ADD SCROLL. MAX 100 PLAYERS -->
                <table id="menu_top_players_table">
                    <caption style="display: none;">
                        Top global players
                    </caption>
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Uber Matador Capivara</td>
                            <td>Brazil</td>
                            <td>86447</td>
                        </tr>
                        <tr>
                            <td>Iam</td>
                            <td>United States</td>
                            <td>86337</td>
                        </tr>
                        <tr>
                            <td>The American Dude</td>
                            <td>United States</td>
                            <td>86321</td>
                        </tr>
                        <tr>
                            <td>JadenBen</td>
                            <td>Australia</td>
                            <td>85647</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    {% endblock %}
</body>
<footer>
    {% block footer %}
    <!-- TODO: ADD FOOTER -->
    {% endblock %}
</footer>