{% extends "base.html" %}
<!-- TODO: MAKE BUTTONS FUNCTIONALS -->

<head>
    {% block title %}Home Page{% endblock %}
    {% block meta_application_name %}Home Page{% endblock %}
    {% block meta_description %}The Home Page of the Super TicTacToe game{% endblock %}
    {% block meta_keywords %}homepage, login, register, play{% endblock %}
</head>

<body>
    {% block body %}
    <div class="full_inline" style="min-height:100vh">
        <!-- play and fame hall section side by side -->
        <section style="width: 65%">
            <!-- play section -->
            <!-- TODO: ADD MORE ELEMENTS ON THE PLAY SECTION -->
            <div class="title_wrapper">
                <h1>Wellcome</h1>
            </div>
            <div class="spacer_medium center_h">
                <a href="/game_modes"><button class="btn play_btn" type='button'>Play now</button></a>
            </div>
        </section>
        <hr color="#ffffffe6">
        <section style="width: 35%">
            <!-- fame hall section -->
            <div class="title_wrapper">
                <h1>Top global players</h1>
            </div>
            <div class="table_wrapper">
                <!-- ADD JINJA AND PLAYERS WHEN LOGIN IS POSSIBLE -->
                <!-- ADD SCROLL. MAX 100 PLAYERS -->
                <table id="menu_top_players_table">
                    <caption style="display: none;">
                        Top global players
                    </caption>
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Country</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Uber Matador Capivara</td>
                            <td>Brazil</td>
                            <td>86447</td>
                        </tr>
                        <tr>
                            <td>Iam</td>
                            <td>United States</td>
                            <td>86337</td>
                        </tr>
                        <tr>
                            <td>The American Dude</td>
                            <td>United States</td>
                            <td>86321</td>
                        </tr>
                        <tr>
                            <td>JadenBen</td>
                            <td>Australia</td>
                            <td>85647</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    {% endblock %}
</body>